body {
    background-color: rgb(255, 182, 193);
    /* padding: 0; */
}

.header {
    border-bottom: lightgrey solid;
    background-color: whitesmoke;
}

.footer {
    border-top: lightgrey solid;
    background-color: whitesmoke;
    text-align: right;
}

.trainlocation {
    border: whitesmoke solid;
    background-color: lightgrey;
}

.addinglocation {
    border: whitesmoke solid;
    background-color: lightgrey;
}

/* pale yellow
244 255 95

pale orange
232 200 154

pale pink
255 182 193

pale purple
176 154 232

pale blue 
99 233 255*/