body {
    background-color: lightgrey;
    color: #ffffff;
}

.header {
    border-bottom: #8c0032 solid;
    background-color: #c2185b;
    text-align: center;
}

.footer {
    border-top: #8c0032 solid;
    background-color:  #c2185b;
    text-align: right;
}

.card-header {
    background-color: #4b2c20;
    border-bottom: #795548 solid;
}

.card-body {
    color: #795548;
    background-color: white;
    color: #795548;
}

.main-title {
    background-color: #4b2c20;
}